{
	CFBundleIdentifier = {
		CFBundleIconFile = "MapleSeedX.icns";
		CFBundleIdentifier = "com.mapleseedx";
		CFBundleName = MapleSeedX;
		CFBundleVersion = "1.0.0";
		"LSMinimumSystemVersion" = "10.12";
		CFBundleExecutable = MapleSeedX;
		"CFBundleInfoDictionaryVersion" = "6.0";
		CFBundlePackageType = APPL;
		"CFBundleShortVersionString" = "1.0";
		"NSHighResolutionCapable" = YES;
	};
}